<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AspNetCoreMyGet" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="EF7SqlCE" value="https://www.myget.org/F/ef7-sqlce/api/v3/index.json" />
  </packageSources>
</configuration>
